.product__descr__text{
    display: none;
    background: url('../img/ie-bg.png');
}

.product__descr:hover .product__descr__text{
    display: block;
}


.livechat__heading:hover{
    cursor: auto;
}
.nav_container__main-menu__item__submit{
    border-left: none;
}